.card {
    border: 2px solid rgba(0, 0, 0, 0.786);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.786);
    border-radius: 2rem;
    max-width: 15rem;
    max-height: 30rem;
    box-shadow: 2px 2px rgba(126, 126, 126, 0.786);
    background-color: white;
}

.card > h1 {
    font-size: 2rem;
    color: black;
}

.card > img {
    border-radius:1rem;
    width: 200px;
}

